<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.kavosdraugas-sale-notifier</string>

        <key>ProgramArguments</key>
        <array>
            <string>/Users/tomasrasymas/.virtualenvs/kavosdraugas-sale-notifier/bin/python</string>
            <string>/Users/tomasrasymas/Documents/programming/kavosdraugas-sale-notifier/kavosdraugas-sale-notifier.py</string>
        </array>

        <key>KeepAlive</key>
        <true/>

        <key>RunAtLoad</key>
        <true/>
    </dict>
</plist>